<a href="https://colab.research.google.com/github/alejandrobarrantes/Analisis-de-Datos/blob/main/13_04_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

students = [ ( 'Ana' , 23 , 'San Jose' , 'A' ) ,
( 'Esteban' , 22 , 'Heredia' , 'B' ) , ( 'Juan' , 22 , 'Cartago' , 'A' ) , ( 'Karla' , 22 , 'Limón' , 'A' ) ,
( 'Ernesto' , 21 , 'Heredia' , 'B' ) ] 

df = pd.DataFrame ( data=students , columns = [ 'Nombre' , 'Edad' , 'Ciudad' , 'Seccion'])

print(df)

def informacion_persona(nombre, dataframe):
  persona = dataframe.loc[dataframe['Nombre'] == nombre]
  return persona

print(informacion_persona("Ana",df))

def getIndexes(dfObj,value):
  listOfPos = []
  result =dfObj.isin([value])
  seriesObj = result.any() 
  columnNames = list(seriesObj[seriesObj==True].index)

  for col in columnNames :
    rows = list(result[col][result[col]==True].index)

    for row in rows :
      listOfPos.append((row,col))

  return listOfPos


print('Index positions of 22 in DataFrame')

listOfPositions=getIndexes(df,'A')
for i in range(len(listOfPositions)):
    print(listOfPositions[i])

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B
  Nombre  Edad    Ciudad Seccion
0    Ana    23  San Jose       A
Index positions of 22 in DataFrame
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')

In [ ]:
import pandas as pd

data = {'Country':['Costa Rica','India','Brazil'],
        'Capital':['San José','New Delhi ',' Brasilia '] ,
        'Population' : [ 4500000 , 1303171035 , 207847528 ] }

df = pd.DataFrame ( data , columns = [ 'Country' , 'Capital' , 'Population'] ) 

print ( df )

      Country     Capital  Population
0  Costa Rica    San José     4500000
1       India  New Delhi   1303171035
2      Brazil   Brasilia    207847528

In [ ]:
print ( " Promedio de los elementos del vector " )
Suma=0
Media = 0
Temp= [ ]
print ( " Ingrese cantidad de Temperaturas " ) 
N=int ( input() )

for i in range (N):
  temperatura = float ( input ( "Ingrese la temperatura " ) )
  Temp.append ( temperatura ) 
  Suma =Suma + Temp [i]
Media = Suma / N
print ( Media )

 Promedio de los elementos del vector
 Ingrese cantidad de Temperaturas
2
Ingrese la temperatura 12
Ingrese la temperatura 12
12.0

In [ ]:
import pandas as pd

mascota=pd.DataFrame(
    data={'name':['Minimo','Milo','Snoopy','Blanco','LittlePony'],
          'type': ['gato', 'perro', 'perro', 'perro', 'caballo' ]
          },
          index=[71,42,11,98,42])

visitas=pd.DataFrame(
    data={
'pet_id': [42, 31, 71, 42, 98, 42],
'fecha': ['2019-03-15', '2019-03-15', '2019 -04-05' , "2019-04-06", '2019-04-12','2019-04-12'],
'costo': [2000, 5000, 1000, 5000, 6000, 10000]})

mascota.index.rename('pet_id',inplace=True)
visitas.index.rename('visit_id',inplace=True)

print(mascota.query('pet_id==71'))


print('\n',visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())
print(visitas)

          name  type
pet_id
71      Minimo  gato

 29000
1000
10000
          pet_id        fecha  costo
visit_id
0             42   2019-03-15   2000
1             31   2019-03-15   5000
2             71  2019 -04-05   1000
3             42   2019-04-06   5000
4             98   2019-04-12   6000
5             42   2019-04-12  10000